<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %} - Formation Symfony Avancé Dawan FOAD</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

    {{ encore_entry_link_tags('bootstrap') }}
    {{ encore_entry_link_tags('app') }}

    {{ encore_entry_script_tags('bootstrap') }}
    {{ encore_entry_script_tags('app') }}

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    <header class="pt-5">
        <h1>Symfony Avancé Yona (American Vintage) Marseille</h1>
        <hr/>
    </header>
    <nav class="mb-3">
        <a href="{{ path('home_index') }}">Accueil</a> -
        <a href="{{ path('webpack_index') }}">Webpack</a> -
        <a href="{{ path('cache_psr6') }}">Cache PSR6</a> -
        <a href="{{ path('cache_contracts') }}">Cache Contracts</a> -
        <a href="{{ path('event_index') }}">Les Evènements Symfony</a> -
        <a href="{{ path('article_index') }}">Liste des articles</a> -
        <a href="{{ path('contact_index') }}">Contacter nous</a> -

        <span>Bonjour {{ app.request.attributes.get('_custom_gender') }} {{ app.request.attributes.get('_custom_username', 'inconnu') }}</span>
    </nav>
    <section>
        <p class="lead">
            <span class="text-info">Météo :</span> le {{ date('1648710000') | format_date }} vers {{ date('1648710000') | format_time }} dans le nord, il devait <i class="bi bi-cloud-snow"></i>
        </p>
    </section>
    <main>
        <header>
            <h2>{{ block('title') }}</h2>
        </header>
        <section>
            {% block body %}{% endblock %}
        </section>
    </main>
    <footer>
        <hr/>
        <p class="text-center small">Symfony Avancé - Dawan FOAD - Mars 2022</p>
    </footer>
</div>
</body>
</html>
