{% extends 'base.html.twig' %}

{% block title %}Détail article {{ post.title }}{% endblock %}

{% block body %}

    <div class="mb-3">
        <a href="{{ path('article_index') }}" class="btn btn-outline-secondary btn-sm">Retour</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content | raw }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
